<div class="head">
  <div class="logo-landing" *ngIf="currentPath == '/videos'">
    <img src="/assets/images/logo.png" alt="Logo" class="company-logo" />
  </div>
  <div class="back-button" *ngIf="currentPath != '/videos'" (click)="backClicked()">
    <div class="back-button-child">
      <img class="arrow" src="/assets/images/arrow_back.svg" alt="back-button" />
    </div>
    <div class="back-button-child back">Back</div>
  </div>
  <div class="author-logged-in">
    <div class="flex-child list-author">
      <img
        class="avatar-header"
        src="{{ user.pictureUrl }}"
        alt="{{ username }}"
      />
      <span class="name-header">{{
        username
      }}</span>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
